<!-- <div class="example-panel" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="1000" (scrolled)="getNextFeeds()"><br>

    <app-feed-create></app-feed-create>

    <div *ngFor="let feed of feeds">
        <md-card>
            <md-card-header>
                <div md-card-avatar class="example-header-image"></div>
                <md-card-title>{{feed.author}}</md-card-title>
                <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="../assets/{{feed.img}}" alt="Photo of a Shiba Inu">
            <md-card-content>
                <p>{{feed.text}}</p>
            </md-card-content>
            <md-card-actions align="end">
                <button md-icon-button (click)="updateLikes(feed.id)"><md-icon color="primary">favorite</md-icon></button><span class="actions">{{feed.likes}}</span>
                <button md-icon-button><md-icon color="primary">share</md-icon></button><span class="actions">85</span>

                <button md-icon-button color="primary" [mdMenuTriggerFor]="menu">
                    <md-icon>more_vert</md-icon>
                </button>
                <md-menu #menu="mdMenu" [overlapTrigger]="false">
                    <button md-menu-item (click)="deleteFeed(feed.id)">
                        <md-icon>delete</md-icon>
                        <span>Delete feed</span>
                    </button>
                </md-menu>
            </md-card-actions>
        </md-card><br>

        <app-comment [feedKey]="feed.id"></app-comment>

    </div>
</div> -->

<div class="example-panel">

    <!-- <pre>{{ feedsIds | json }}</pre> -->

    <!-- <pre>{{ feedService.commentsSnapshots | json }}</pre> -->
    
    <button  (click)="feedService.getNextFeeds()">More Feeds...</button>

    <div *ngFor="let feed of feedService.feeds" >
        <app-feed-detail [feed]="feed"></app-feed-detail>
    </div>

    <!-- <div *ngFor="let feed of feeds">
        {{ feed.likes }}
        <button md-icon-button (click)="updateLikes(feed.id)"><md-icon color="primary">favorite</md-icon></button>
        <button md-icon-button (click)="deleteFeed(feed.id)"><md-icon color="primary">delete</md-icon></button>
    </div> -->
</div>
